Report Generator_AITesterTest.json
{
  "name": "Report Generator_AITesterTest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1440,
        -192
      ],
      "id": "1f498476-80a9-489d-9569-bf975f485e27",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -400
      ],
      "id": "892f0a99-c48c-4adc-a09b-1d912a3703e5",
      "name": "Content",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Parse streaming response from Ollama\nconst rawData = $input.first().json.data;\n\n// Split by newline and parse each chunk\nconst chunks = rawData.split('\\n')\n  .filter(line => line.trim() !== '')\n  .map(line => {\n    try { return JSON.parse(line); } \n    catch(e) { return null; }\n  })\n  .filter(chunk => chunk !== null);\n\n// Join all response chunks into one full text\nconst ollamaResponse = chunks\n  .map(chunk => chunk.response || '')\n  .join('');\n\n// Get test data from Code Node 1 - replace 'Code' with your exact node name\nlet rawTestData = $('Code in JavaScript').first().json;\nif (rawTestData.data) rawTestData = rawTestData.data;\n\n// Filter out __EMPTY\nconst devices = Object.entries(rawTestData)\n  .filter(([key]) => !key.includes('__EMPTY') && !key.includes('prompt'));\n\nconst deviceStats = devices.map(([device, counts]) => {\n  const total = (counts.Pass || 0) + (counts.Fail || 0) + (counts.NotRun || 0);\n  const passRate = total > 0 ? ((counts.Pass / total) * 100).toFixed(1) : 0;\n  const failRate = total > 0 ? ((counts.Fail / total) * 100).toFixed(1) : 0;\n  return { device, counts, total, passRate, failRate };\n});\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; padding: 30px; background: #f4f6f9; }\n    h2 { color: #2c3e50; margin-bottom: 5px; }\n    .summary { display: flex; gap: 20px; margin-bottom: 30px; flex-wrap: wrap; }\n    .card { background: white; border-radius: 10px; padding: 20px 30px; text-align: center; box-shadow: 0 2px 8px rgba(0,0,0,0.1); min-width: 120px; }\n    .card h3 { margin: 0; font-size: 14px; color: #888; }\n    .card p { margin: 5px 0 0; font-size: 32px; font-weight: bold; }\n    .pass { color: #27ae60; }\n    .fail { color: #e74c3c; }\n    .notrun { color: #f39c12; }\n    table { width: 100%; border-collapse: collapse; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1); margin-bottom: 30px; }\n    th { background: #2c3e50; color: white; padding: 14px 18px; text-align: left; }\n    td { padding: 12px 18px; border-bottom: 1px solid #eee; }\n    tr:last-child td { border-bottom: none; }\n    tr:hover td { background: #f0f4ff; }\n    .badge-pass { background: #eafaf1; color: #27ae60; padding: 4px 10px; border-radius: 20px; font-weight: bold; }\n    .badge-fail { background: #fdedec; color: #e74c3c; padding: 4px 10px; border-radius: 20px; font-weight: bold; }\n    .badge-notrun { background: #fef9e7; color: #f39c12; padding: 4px 10px; border-radius: 20px; font-weight: bold; }\n    .progress-bar { background: #eee; border-radius: 10px; height: 10px; width: 100px; }\n    .progress-fill-pass { background: #27ae60; border-radius: 10px; height: 10px; }\n    .progress-fill-fail { background: #e74c3c; border-radius: 10px; height: 10px; }\n    .ai-box { background: white; border-left: 5px solid #2c3e50; border-radius: 10px; padding: 20px 25px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); margin-bottom: 30px; }\n    .ai-box h3 { margin: 0 0 10px; color: #2c3e50; font-size: 16px; }\n    .ai-box p { margin: 0; color: #555; line-height: 1.8; white-space: pre-line; }\n  </style>\n</head>\n<body>\n  <h2>📊 QA Test Execution Report</h2>\n  <p style=\"color:#888; margin-top:0\">Generated on: ${new Date().toLocaleString()}</p>\n\n  <div class=\"summary\">\n    <div class=\"card\">\n      <h3>Total Devices</h3>\n      <p style=\"color:#2c3e50\">${deviceStats.length}</p>\n    </div>\n    <div class=\"card\">\n      <h3>Total Passed</h3>\n      <p class=\"pass\">${deviceStats.reduce((sum, d) => sum + (d.counts.Pass || 0), 0)}</p>\n    </div>\n    <div class=\"card\">\n      <h3>Total Failed</h3>\n      <p class=\"fail\">${deviceStats.reduce((sum, d) => sum + (d.counts.Fail || 0), 0)}</p>\n    </div>\n    <div class=\"card\">\n      <h3>Total Not Run</h3>\n      <p class=\"notrun\">${deviceStats.reduce((sum, d) => sum + (d.counts.NotRun || 0), 0)}</p>\n    </div>\n  </div>\n\n  <table>\n    <thead>\n      <tr>\n        <th>Device Name</th>\n        <th>Pass</th>\n        <th>Fail</th>\n        <th>Not Run</th>\n        <th>Total</th>\n        <th>Pass Rate</th>\n        <th>Fail Rate</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${deviceStats.map(({ device, counts, total, passRate, failRate }) => `\n        <tr>\n          <td><strong>${device}</strong></td>\n          <td><span class=\"badge-pass\">${counts.Pass || 0}</span></td>\n          <td><span class=\"badge-fail\">${counts.Fail || 0}</span></td>\n          <td><span class=\"badge-notrun\">${counts.NotRun || 0}</span></td>\n          <td>${total}</td>\n          <td>\n            <div style=\"display:flex; align-items:center; gap:8px\">\n              <div class=\"progress-bar\">\n                <div class=\"progress-fill-pass\" style=\"width:${passRate}%\"></div>\n              </div>\n              <span class=\"pass\">${passRate}%</span>\n            </div>\n          </td>\n          <td>\n            <div style=\"display:flex; align-items:center; gap:8px\">\n              <div class=\"progress-bar\">\n                <div class=\"progress-fill-fail\" style=\"width:${failRate}%\"></div>\n              </div>\n              <span class=\"fail\">${failRate}%</span>\n            </div>\n          </td>\n        </tr>\n      `).join('')}\n    </tbody>\n  </table>\n\n  <div class=\"ai-box\">\n    <h3>🤖 AI Analysis & Recommendations</h3>\n    <p>${ollamaResponse}</p>\n  </div>\n\n</body>\n</html>\n`;\n\nconst base64Html = Buffer.from(html, 'utf8').toString('base64');\nreturn [{ json: { html_report: base64Html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -48
      ],
      "id": "532083ee-6c2b-44b2-9289-43c902cfe588",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "Testcase"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -928,
        -224
      ],
      "id": "896b3b8c-34ff-435b-9a7e-4f935eb9c4cf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Ketan_Prataprai\\.n8n-files\\TestCases_Execution.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1184,
        -304
      ],
      "id": "68ab8eee-7da2-41ad-85d4-dea371ac4aff",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nlet result = {};\n\n// Columns to always ignore - add any non-device columns here\nconst ignoreColumns = [\n  \"SL No\",\n  \"Module\",\n  \"Sub Module\",\n  \"Test Case ID\",\n  \"Test Case Description\",\n  \"Priority\",\n  \"Pre Condition\",\n  \"Test Steps\",\n  \"Expected Result\",\n  \"Test Case Type\",\n  \"P/N\",\n  \"Issues ID\",\n  \"__EMPTY\"\n];\n\n// All possible variations of Pass/Fail/NotRun values\nconst passValues   = [\"pass\", \"passed\", \"p\", \"yes\", \"ok\", \"true\"];\nconst failValues   = [\"fail\", \"failed\", \"f\", \"no\", \"false\", \"error\"];\nconst notRunValues = [\"not run\", \"notrun\", \"nr\", \"n/a\", \"na\", \"skip\", \"skipped\", \"blocked\", \"\"];\n\ndata.forEach(item => {\n  const row = item.json;\n  Object.keys(row).forEach(column => {\n\n    // Skip ignored columns and any __EMPTY variants\n    if (ignoreColumns.includes(column)) return;\n    if (column.includes('__EMPTY')) return;\n    if (column.trim() === '') return;\n\n    const status = String(row[column] || '').trim().toLowerCase();\n\n    if (!result[column]) {\n      result[column] = { Pass: 0, Fail: 0, NotRun: 0 };\n    }\n\n    if (passValues.includes(status)) {\n      result[column].Pass++;\n    } else if (failValues.includes(status)) {\n      result[column].Fail++;\n    } else {\n      // Anything unrecognised goes to NotRun\n      result[column].NotRun++;\n    }\n  });\n});\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -288
      ],
      "id": "248e09dd-3d57-4b0e-9024-62eeec91adcb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "html_report",
        "options": {
          "fileName": "qa_report.html",
          "mimeType": "text/html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        -48
      ],
      "id": "08d12391-067e-49cb-815e-de72f983bf7d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Ketan_Prataprai\\.n8n-files\\qa_report.html",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        272,
        224
      ],
      "id": "e589a853-0501-4ea1-a7a1-fa52a6a138cf",
      "name": "Read/Write Files from Disk1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Filter out __EMPTY\nconst devices = Object.entries(data)\n  .filter(([key]) => !key.includes('__EMPTY'));\n\n// Pre-calculate everything before sending to Ollama\nconst deviceSummary = devices.map(([device, counts]) => {\n  const total = (counts.Pass || 0) + (counts.Fail || 0) + (counts.NotRun || 0);\n  const passRate = total > 0 ? ((counts.Pass / total) * 100).toFixed(1) : 0;\n  const failRate = total > 0 ? ((counts.Fail / total) * 100).toFixed(1) : 0;\n  return `${device}: Pass=${counts.Pass}, Fail=${counts.Fail}, NotRun=${counts.NotRun}, Total=${total}, PassRate=${passRate}%, FailRate=${failRate}%`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    prompt: `You are a QA analyst. Here is the pre-calculated test execution data:\\n${deviceSummary}\\n\\nUsing ONLY the numbers above, provide:\\n1) Overall quality status Good or Average or Poor based on average pass rate\\n2) Best device name with its exact pass rate from above\\n3) Worst device name with its exact pass rate from above\\n4) One short recommendation\\nPlain text only, max 5 lines, no bullet symbols, use exact numbers from the data above.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -384
      ],
      "id": "e93ea53b-9a00-48f1-b322-6c72d7e3eb8e",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "sendTo": "ketan4778@gmail.com",
        "subject": "Daily test Report",
        "message": "Daily test Report",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -48
      ],
      "id": "46eac33b-a339-4a0c-a461-4d200e853f93",
      "name": "Send a message",
      "webhookId": "dff93f6b-e515-4b02-9acb-a4ea5a6844b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2MTcsrecughTCEK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42740e03-843f-40f9-ab51-b1c616af34c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b106eac492428c081daae47d953feedabc4fee6a6f38dce917ec316de5d0de04"
  },
  "id": "0aa6dzDpszZFInrG",
  "tags": []
}